@import './common/variables';

* {
  margin: 0;
  padding: 0;
  font-family: $primary-fonts;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  height: 93px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__content {
    padding: 18px 0 19px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 148px;
    height: 56px;

    img {
      width: 100&;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemlist {
    color: $primery-color;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 81px;
    }

    &_active {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

  }

  &__registration {
    border: none;
    padding: 8px 31px 8px 29px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &:hover {
      background-color: #eb5631;
      transition: 0.4s all;
    }
  }
}
