@import './common/variables';

* {
  margin: 0;
  padding: 0;
  font-family: $primary-fonts;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  height: 93px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__content {
    padding: 18px 0 19px 0;
    margin: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 148px;
    height: 56px;

    img {
      width: 100%;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemlist {
    color: $primary-color;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 81px;
    }

    &_active {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__registration {
    border: none;
    padding: 8px 31px 8px 29px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;
    cursor: pointer;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}

.intro {
  background-color: #fff;
  position: relative;

  &__row {
    display: flex;
  }

  &__subject {
    width: 479px;
    height: 392px;
    margin: 174px 0 117px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: $orange-color;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $primary-color;
  }

  &__caption {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

    &_bold {
      font-weight: 700;
    }
  }

  &__banner {
    width: 759px;
    height: 631px;

    position: absolute;
    z-index: 10;
    top: 23px;
    right: 106px;

    &__img {
      width: 759px;
      height: 631px;
    }
  }

  &__button {
    border: none;
    margin-top: 32px;
    padding: 8px 25px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;
    cursor: pointer;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &_glow {
      filter: $filter;
    }

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}

.popular {
  background-color: $primary-color;
  height: 730px;
  position: relative;

  &::before {
    content: url('/images/wave__up.png');

    position: absolute;
    top: -131px;
    z-index: 20;
  }

  &::after {
    content: url('/images/wave__down.png');
    position: absolute;
    bottom: -160px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #fff;
    margin-top: 189.5px;
  }

  &__block {
    margin-top: 33px;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 44px;
    }
  }

  &__building {
    width: 277px;
    height: 408px;
    border-radius: 25px;
  }

  &__discription {
    width: 223px;
    height: 91px;
    padding: 14px 0 14px 23px;
    margin-top: -75px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 20px;

    position: absolute;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $primary-color;
  }

  &__subdiscription {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $primary-color;
    margin-bottom: 4px;
  }

  &__slider {
    margin: 0 auto;
    margin-top: 92px;
    width: 203.6px;
    height: 25.6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
    margin-bottom: 7px;

    &_active {
      width: 19px;
      height: 19px;
      background: #fff;
      opacity: 1;
    }
  }

  &__button {
    display: block;
    border: none;
    margin: 29.3px auto 37px;
    padding: 8px 25px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;
    cursor: pointer;
    filter: $filter;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}
.about {
  .about__content {
    margin-top: 227px;
    height: 679px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: $primary-color;
  }

  &__block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-top: 58px;
  }

  &__item {
    margin-bottom: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #000;

    &_orange {
      font-weight: 700;
      color: $orange-color;
    }

    &_bolt {
      font-weight: 700;
    }
  }

  &__poster {
    width: 593px;
    height: 575px;
  }
}

.rating {
  &__title {
    margin-top: 57px;
    margin-bottom: 64px;
    text-align: center;
    color: $primary-color;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }

  &__card {
    display: flex;
  }

  &__item {
    width: 399px;
    height: 255px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: $shadow;

    display: flex;

    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__img {
    width: 66px;
    height: 66px;
    margin: 27px 26px 0 24px;
  }

  &__block {
    margin: 27px 0 40px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $primary-color;
    margin-bottom: 4px;
  }

  &__star {
    width: 90px;
    height: 18px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__discription {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    margin-bottom: 14px;
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: $primary-color;
  }
}

.subscribe {
  &__form {
    height: 397px;
    margin: 154px 0 221.2px 0;
    background-color: $primary-color;
    color: #fff;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin: 81px 53px 0 106px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

    padding-bottom: 9px;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 53.9px;
  }

  &__input {
    width: 518.82px;
    height: 51.58px;
    padding-left: 28.8px;
    padding-right: 3.9px;
    border-radius: 26px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: rgba(41, 50, 65, 0.5);
  }

  &__button {
    width: 153.76px;
    height: 45.63px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 23px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #111213;
      transition: 0.4s all;
    }
  }

  &__poster {
    width: 562px;

    position: relative;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 19px 0;
  }
}

.footer {
  background-color: $primary-color;
  position: relative;

  &__wave {
    position: absolute;
    z-index: 15;
    top: -153px;
    left: 0;
  }

  

  &__body {
    display: flex;
    height: 386px;
    padding: 8px 0 59px 0;
    border-bottom: 1px solid #FFF;
  }

  &__social {
    height: 221px;
  }

  &__logo {
    margin-bottom: 110px;
  }

  &__icons {
    width: 146px;
    height: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    margin-left: 151.7px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    margin-bottom: 41px;
    color: #fff;
  }

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;

    color: #fff;
    margin-bottom: 4px;
  }

  &__company {
    margin-left: 87px;
  }

  &__support {
    margin-left: 76px;
  }
  
  &__contact {
    margin-left: 76px;
  }
}
