@import './common/variables';

* {
  margin: 0;
  padding: 0;
  font-family: $primary-fonts;
}

body {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  height: 93px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__content {
    padding: 18px 0 19px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 148px;
    height: 56px;

    img {
      width: 100&;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemlist {
    color: $primery-color;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 81px;
    }

    &_active {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__registration {
    border: none;
    padding: 8px 31px 8px 29px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}

.intro {
  background-color: #fff;
  position: relative;

  &__row {
    display: flex;
  }

  &__subject {
    width: 479px;
    height: 392px;
    margin: 174px 0 117px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: $orange-color;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $primery-color;
  }

  &__caption {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

    &_bold {
      font-weight: 700;
    }
  }

  &__banner {
    width: 759px;
    height: 631px;

    position: absolute;
    z-index: 10;
    top: 23px;
    right: 106px;

    &__img {
      width: 759px;
      height: 631px;
    }
  }

  &__button {
    border: none;
    margin-top: 32px;
    padding: 8px 25px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &_glow {
      filter: $filter;
    }

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}

.popular {
  background-color: $primery-color;
  height: 730px;
  position: relative;

  &::before {
    content: url('/images/wave__up.png');

    position: absolute;
    top: -131px;
    z-index: 20;
  }

  &::after {
    content: url('/images/wave__down.png');
    position: absolute;
    bottom: -160px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #fff;
    margin-top: 189.5px;
  }

  &__block {
    margin-top: 33px;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 44px;
    }
  }

  &__building {
    width: 277px;
    height: 408px;
    border-radius: 25px;
  }

  &__discription {
    width: 223px;
    height: 91px;
    padding: 14px 0 14px 23px;
    margin-top: -75px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 20px;

    position: absolute;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $primery-color;
  }

  &__subdiscription {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $primery-color;
    margin-bottom: 4px;
  }

  &__slider {
    margin: 0 auto;
    margin-top: 92px;
    width: 203.6px;
    height: 25.6px;

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
    margin-bottom: 7px;

    &_active {
      width: 19px;
      height: 19px;
      background: #fff;
      opacity: 1;
    }
  }

  &__button {
    display: block;
    border: none;
    margin: 29.3px auto 37px;
    padding: 8px 25px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;
    filter: $filter;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;   

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}
