@import './common/variables';

* {
  margin: 0;
  padding: 0;
  font-family: $primary-fonts;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  height: 93px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__content {
    padding: 18px 0 19px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    width: 148px;
    height: 56px;

    img {
      width: 100&;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemlist {
    color: $primery-color;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 64px;
    }

    &:last-child {
      margin-right: 81px;
    }

    &_active {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__registration {
    border: none;
    padding: 8px 31px 8px 29px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}

.intro {
  background-color: #fff;
  position: relative;

  &__row {
    display: flex;
  }

  &__subject {
    width: 479px;
    height: 392px;
    margin: 174px 0 117px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: $orange-color;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $primery-color;
  }

  &__caption {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

    &_bold {
      font-weight: 700;
    }
  }

  &__banner {
    width: 759px;
    height: 631px;

    position: absolute;
    z-index: 10;
    top: 23px;
    right: 106px;

    &__img {
      width: 759px;
      height: 631px;
    }
  }

  &__button {
    border: none;
    margin-top: 32px;
    padding: 8px 25px;
    border-radius: 48px;
    color: white;
    background-color: $orange-color;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &_glow {
      filter: drop-shadow(0px 75px 164px rgba(238, 108, 77, 0.24))
        drop-shadow(0px 31.3332px 68.5153px rgba(238, 108, 77, 0.172525))
        drop-shadow(0px 16.7522px 36.6315px rgba(238, 108, 77, 0.143066))
        drop-shadow(0px 9.39116px 20.5353px rgba(238, 108, 77, 0.12))
        drop-shadow(0px 4.98758px 10.9062px rgba(238, 108, 77, 0.0969343))
        drop-shadow(0px 2.07544px 4.5383px rgba(238, 108, 77, 0.0674749));
    }

    &:hover {
      background-color: #e1390f;
      transition: 0.4s all;
    }
  }
}
